<div class="form-auth__field">
    <input type="{{ type }}" placeholder="{{ field_label(field) }}" name="{{ field_name(field) }}" id="{{ field_name(field) }}" {% if required %}required{% endif%} {% if type != 'password'%}value="{{ field_value(field) }}"{% endif%} />
    {{ form_errors(field) }}
</div>