{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ currentCategory }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.currentUser = "{{ currentUser }}"
        window.categories = {{ categories|jsonld }}
        window.currentCategory = "{{ currentCategory }}"
    </script>

    {{ encore_entry_script_tags('categories') }}
{% endblock %}