{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Homepage
{% endblock %}

{% block body %}
    <main class="content" id="app"></main>
{#    {{ component('videoList', { title: 'Trending', isTrending: true}) }}#}

{#    {{ component('videoList', { title: 'Recommanded for you', videos}) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.currentUser = "{{ currentUser }}"
    </script>

    {{ encore_entry_script_tags('videos') }}
{% endblock %}