{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Homepage
{% endblock %}

{% block body %}
    <div id="app"></div>
{#    {{ component('videoList', { title: 'Trending', isTrending: true}) }}#}

{#    {{ component('videoList', { title: 'Recommanded for you', videos}) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
      window.currentUser = "{{ currentUser }}"
      window.categories = {{ categories|jsonld }}
      {% if currentCategory is not defined %}
        window.currentCategory = null
      {% else %}
        window.currentCategory = "{{ currentCategory }}"
      {% endif %}
      window.isBookmarked = window.location.pathname === '/bookmarks'
    </script>

    {{ encore_entry_script_tags('videos') }}
{% endblock %}